In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("zoo.data")

In [4]:
df.head()

,aardvark,1,0,0.1,1.1,0.2,0.3,1.2,1.3,1.4,1.5,0.4,0.5,4,0.6,0.7,1.6,1.7
0,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
1,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
2,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
3,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
4,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1

In [11]:
names = [
  "animal",
  "hair",
  "feathers",
  "eggs",
  "milk",
  "airborne",
  "aquatic",
  "predator",
  "toothed",
  "backbone",
  "breathes",
  "venomous",
  "fins",
  "legs",
  "tail",
  "domestic",
  "catsize",
  "type"
]

http://192.168.88.200:8000/names.json

In [12]:
df = pd.read_csv("zoo.data", names=names)

In [15]:
df.head()

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [24]:
X = np.array(df.loc[:, "hair": "catsize"])

In [25]:
X[:5]

array([[1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 0, 0, 1],
       [1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 4, 1, 0, 1],
       [0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 0, 0, 1],
       [1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 1, 0, 1]])

In [26]:
y = np.array(df.loc[:, "type"])

In [27]:
y[:5]

array([1, 1, 4, 1, 1])

In [28]:
X_train, X_test , y_train, y_test = train_test_split(
    X, y
)

In [29]:
from sklearn.neighbors import KNeighborsClassifier

In [30]:
clr = KNeighborsClassifier()

In [32]:
clr.fit(X_train, y_train)

KNeighborsClassifier()

In [33]:
pred = clr.predict(X_test)

In [34]:
pred

array([1, 6, 1, 1, 6, 1, 4, 2, 4, 2, 2, 1, 1, 6, 2, 2, 1, 4, 1, 6, 1, 4,
       4, 7, 1, 2])

In [35]:
y_test

array([1, 6, 1, 1, 6, 1, 3, 2, 4, 2, 2, 1, 1, 6, 2, 2, 1, 3, 1, 7, 1, 4,
       4, 7, 1, 2])

In [36]:
clr.score(X_test, y_test)

0.8846153846153846

In [37]:
X_train, X_test , y_train, y_test = train_test_split(
    np.array(df.loc[:, "feathers": "predator"]), y
)

In [39]:
clr2 = KNeighborsClassifier()
clr2.fit(X_train, y_train)

KNeighborsClassifier()

In [41]:
clr2.score(X_test, y_test)

0.8076923076923077

In [42]:
pred = clr2.predict(X_test)
pred

array([1, 3, 2, 2, 1, 4, 6, 4, 2, 4, 1, 1, 1, 1, 4, 4, 4, 4, 2, 1, 1, 1,
       1, 6, 2, 2])

In [43]:
y_test

array([1, 3, 2, 2, 1, 7, 6, 4, 2, 4, 7, 1, 1, 1, 4, 5, 4, 1, 2, 1, 1, 1,
       1, 7, 2, 2])

In [44]:
clr.n_neighbors

5

In [46]:
clr3 = KNeighborsClassifier(n_neighbors=9)

In [47]:
X_train, X_test , y_train, y_test = train_test_split(
    X, y
)

In [48]:
clr3.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=9)

In [49]:
clr3.score(X_test, y_test)

0.8846153846153846

In [50]:
clr3.n_neighbors

9

In [51]:
from sklearn import svm

In [52]:
svm_clr = svm.SVC()

In [54]:
svm_clr.fit(X_train, y_train)

SVC()

In [55]:
svm_clr.score(X_test, y_test)

0.9230769230769231

In [57]:
svm_clr.coef0

0.0

In [58]:
svm_clr.shape_fit_

(75, 16)

In [59]:
svm_clr.support_

array([ 0,  9, 11, 16, 22, 28, 35, 39, 44, 56, 58, 60, 63, 65, 68,  5, 17,
       29, 37, 38, 57, 71, 23, 26, 70,  7, 12, 14, 18, 19, 34, 41, 62, 69,
       10, 24, 42, 74, 30, 47, 49, 72, 73, 15, 21, 27, 46, 48, 51, 54, 59,
       66], dtype=int32)

In [60]:
svm_clr.support_vectors_

array([[1., 0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 0., 4., 1., 0., 1.],
       [1., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 4., 0., 0., 1.],
       [1., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 2., 0., 1., 1.],
       [0., 0., 0., 1., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 0., 1., 1., 0., 0., 1., 1., 1., 0., 0., 2., 1., 0., 0.],
       [1., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 4., 0., 1., 0.],
       [1., 0., 0., 1., 0., 1., 1., 1., 1., 1., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 2., 1., 0., 1.],
       [1., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 4., 1., 1., 1.],
       [1., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 4., 1., 0., 0.],
       [1., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 2., 1., 0., 0.],
       [1., 0., 0., 1., 1., 0., 0., 1., 1., 1., 0., 0., 2., 1., 0., 0.],
       [1., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 4., 1., 0., 0.],
       [1., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 4., 1., 0., 1.],
       [0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 0., 2., 1., 0., 0.],
       [0., 1., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 2., 1., 0., 0.],
       [0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 0., 2., 1., 0., 0.],
       [0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 2., 1., 0., 1.],
       [0., 1., 1., 0., 1., 1., 0., 0., 1., 1., 0., 0., 2., 1., 0., 0.],
       [0., 1., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 2., 1., 0., 1.],
       [0., 1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 2., 1., 1., 0.],
       [0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0., 0., 4., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 4., 1., 0., 1.],
       [0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1.],
       [0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1.],
       [0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1.],
       [0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1.],
       [0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 1., 0., 1., 1., 0.],
       [0., 0., 1., 0., 0., 1., 1., 1., 1., 1., 0., 0., 4., 0., 0., 0.],
       [0., 0., 1., 0., 0., 1., 0., 1., 1., 1., 0., 0., 4., 0., 0., 0.],
       [0., 0., 1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 4., 0., 0., 0.],
       [0., 0., 1., 0., 0., 1., 1., 1., 1., 1., 0., 0., 4., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0., 1., 0., 0., 1., 0., 0., 6., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 6., 0., 0., 0.],
       [1., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 6., 0., 0., 0.],
       [0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 6., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 6., 0., 0., 0.],
       [0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 1., 0., 8., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 6., 0., 0., 0.],
       [0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 5., 0., 0., 0.],
       [0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 6., 0., 0., 0.],
       [0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 8., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [61]:
X[:10]

array([[1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 0, 0, 1],
       [1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 4, 1, 0, 1],
       [0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 0, 0, 1],
       [1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 1, 0, 1],
       [1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 4, 1, 0, 1],
       [1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 4, 1, 1, 1],
       [0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0],
       [0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 4, 0, 1, 0]])

In [62]:
from sklearn.cluster import KMeans

In [64]:
clt = KMeans(n_clusters=7, random_state=1)

In [71]:
clt.fit(X)

KMeans(n_clusters=7, random_state=1)

In [72]:
clt.predict(X)

array([1, 1, 4, 1, 1, 1, 1, 4, 4, 1, 1, 0, 4, 5, 6, 2, 0, 1, 4, 4, 0, 0,
       1, 0, 2, 6, 6, 3, 1, 3, 2, 1, 3, 0, 4, 1, 1, 0, 4, 2, 2, 0, 2, 0,
       1, 1, 2, 1, 1, 1, 1, 2, 6, 2, 1, 1, 0, 0, 0, 0, 4, 4, 5, 1, 1, 1,
       4, 1, 1, 1, 1, 0, 2, 4, 4, 3, 4, 5, 0, 0, 5, 5, 4, 0, 3, 2, 4, 0,
       2, 6, 6, 6, 4, 3, 1, 0, 3, 2, 1, 5, 0], dtype=int32)

In [73]:
y

array([1, 1, 4, 1, 1, 1, 1, 4, 4, 1, 1, 2, 4, 7, 7, 7, 2, 1, 4, 1, 2, 2,
       1, 2, 6, 5, 5, 1, 1, 1, 6, 1, 1, 2, 4, 1, 1, 2, 4, 6, 6, 2, 6, 2,
       1, 1, 7, 1, 1, 1, 1, 6, 5, 7, 1, 1, 2, 2, 2, 2, 4, 4, 3, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 7, 4, 1, 1, 3, 7, 2, 2, 3, 7, 4, 2, 1, 7, 4, 2,
       6, 5, 3, 3, 4, 1, 1, 2, 1, 6, 1, 7, 2])

In [70]:
clt.score(X_test[:2])

-5.02

In [74]:
clt.labels_

array([1, 1, 4, 1, 1, 1, 1, 4, 4, 1, 1, 0, 4, 5, 6, 2, 0, 1, 4, 4, 0, 0,
       1, 0, 2, 6, 6, 3, 1, 3, 2, 1, 3, 0, 4, 1, 1, 0, 4, 2, 2, 0, 2, 0,
       1, 1, 2, 1, 1, 1, 1, 2, 6, 2, 1, 1, 0, 0, 0, 0, 4, 4, 5, 1, 1, 1,
       4, 1, 1, 1, 1, 0, 2, 4, 4, 3, 4, 5, 0, 0, 5, 5, 4, 0, 3, 2, 4, 0,
       2, 6, 6, 6, 4, 3, 1, 0, 3, 2, 1, 5, 0], dtype=int32)

In [75]:
clt.cluster_centers_

array([[-1.66533454e-16,  1.00000000e+00,  1.00000000e+00,
        -1.66533454e-16,  8.00000000e-01,  3.00000000e-01,
         4.50000000e-01,  1.11022302e-16,  1.00000000e+00,
         1.00000000e+00, -1.38777878e-17, -2.77555756e-17,
         2.00000000e+00,  1.00000000e+00,  1.50000000e-01,
         3.00000000e-01],
       [ 1.00000000e+00, -8.32667268e-17,  3.22580645e-02,
         1.00000000e+00, -1.66533454e-16,  6.45161290e-02,
         5.48387097e-01,  9.67741935e-01,  1.00000000e+00,
         1.00000000e+00, -2.77555756e-17, -5.55111512e-17,
         4.00000000e+00,  9.03225806e-01,  2.25806452e-01,
         8.06451613e-01],
       [ 3.07692308e-01,  0.00000000e+00,  9.23076923e-01,
        -5.55111512e-17,  4.61538462e-01,  3.07692308e-01,
         4.61538462e-01,  1.11022302e-16, -1.11022302e-16,
         6.92307692e-01,  2.30769231e-01,  2.77555756e-17,
         6.23076923e+00,  7.69230769e-02,  7.69230769e-02,
         7.69230769e-02],
       [ 1.00000000e+00,  2.77555756e-17,  0.00000000e+00,
         1.00000000e+00,  2.85714286e-01,  1.42857143e-01,
         2.85714286e-01,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  1.42857143e-01,
         2.00000000e+00,  7.14285714e-01,  1.42857143e-01,
         5.71428571e-01],
       [ 5.88235294e-02, -2.77555756e-17,  7.64705882e-01,
         1.76470588e-01, -1.11022302e-16,  1.00000000e+00,
         7.64705882e-01,  1.00000000e+00,  1.00000000e+00,
         1.76470588e-01,  1.17647059e-01,  9.41176471e-01,
         0.00000000e+00,  9.41176471e-01,  5.88235294e-02,
         4.11764706e-01],
       [ 0.00000000e+00,  2.77555756e-17,  1.00000000e+00,
         5.55111512e-17,  0.00000000e+00,  1.66666667e-01,
         6.66666667e-01,  3.33333333e-01,  3.33333333e-01,
         6.66666667e-01,  3.33333333e-01,  2.77555756e-17,
         0.00000000e+00,  3.33333333e-01,  0.00000000e+00,
         0.00000000e+00],
       [ 0.00000000e+00,  2.77555756e-17,  1.00000000e+00,
         5.55111512e-17,  0.00000000e+00,  7.14285714e-01,
         7.14285714e-01,  7.14285714e-01,  8.57142857e-01,
         8.57142857e-01,  1.42857143e-01,  2.77555756e-17,
         4.00000000e+00,  4.28571429e-01,  0.00000000e+00,
         1.42857143e-01]])

In [76]:
clt.labels_[0]

1

In [77]:
y[clt.labels_[0]]

1