In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set()

In [5]:
df = pd.read_csv("student-mat.csv", delimiter=";")

In [6]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [7]:
from sklearn.neighbors import KNeighborsClassifier

In [8]:
clr = KNeighborsClassifier()

In [9]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
dir(clr)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_algorithm_metric',
 '_check_feature_names',
 '_check_n_features',
 '_estimator_type',
 '_fit',
 '_get_param_names',
 '_get_tags',
 '_kneighbors_reduce_func',
 '_more_tags',
 '_pairwise',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_validate_data',
 'algorithm',
 'fit',
 'get_params',
 'kneighbors',
 'kneighbors_graph',
 'leaf_size',
 'metric',
 'metric_params',
 'n_jobs',
 'n_neighbors',
 'p',
 'predict',
 'predict_proba',
 'radius',
 'score',
 'set_params',
 'weights']

In [17]:
X = np.array(pd.DataFrame(df["traveltime"]))

In [19]:
X[:5]

array([[2],
       [1],
       [1],
       [1],
       [1]])

In [20]:
y = np.array(df["failures"])

In [21]:
y[:5]

array([0, 0, 3, 0, 0])

In [22]:
X_train, X_test , y_train, y_test = train_test_split(
    X, y
)

In [23]:
X_train[:5]

array([[1],
       [3],
       [2],
       [2],
       [1]])

In [24]:
clr.fit(X_train, y_train)

KNeighborsClassifier()

In [25]:
clr.score(X_test, y_test)

0.797979797979798

In [26]:
predict = clr.predict(X_test)

In [27]:
predict

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [28]:
X[:5]

array([[2],
       [1],
       [1],
       [1],
       [1]])

In [31]:
new_x = []
for x in X:
    if 1 in x:
        new_x.append([1, 0, 0, 0])
    elif 2 in x:
        new_x.append([0, 1, 0, 0])
    elif 3 in x:
        new_x.append([0, 0, 1, 0])
    elif 4 in x:
        new_x.append([0, 0, 0, 1])

In [32]:
new_x[:5]

[[0, 1, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0]]

In [33]:
X_train, X_test , y_train, y_test = train_test_split(
    new_x, y
)

In [34]:
clr.fit(X_train, y_train)

KNeighborsClassifier()

In [35]:
predict = clr.predict(X_test)

In [36]:
predict

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [40]:
y_test

array([0, 0, 3, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 2, 3, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 3, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 2, 0, 0])

In [44]:
X = np.array(df[["traveltime", "studytime"]])

In [45]:
y[:5]

array([0, 0, 3, 0, 0])

In [46]:
X_train, X_test , y_train, y_test = train_test_split(
    X, y
)

In [47]:
clr.fit(X_train, y_train)

KNeighborsClassifier()

In [48]:
predict = clr.predict(X_test)

In [49]:
predict

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0])

In [51]:
clr.score(X_test, y_test)

0.696969696969697

In [52]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [53]:
from sklearn.feature_extraction import DictVectorizer

In [54]:
data = [
    {"city": "Kathmandu", "temp": 12},
     {"city": "Pokhara", "temp": 15},
     {"city": "Bharatpur", "temp": 17},
     {"city": "Dhangadi", "temp": 19},
]

In [55]:
vec = DictVectorizer()

In [59]:
vec.fit_transform(data).toarray()

array([[ 0.,  0.,  1.,  0., 12.],
       [ 0.,  0.,  0.,  1., 15.],
       [ 1.,  0.,  0.,  0., 17.],
       [ 0.,  1.,  0.,  0., 19.]])

In [60]:
help(vec.fit_transform)

Help on method fit_transform in module sklearn.feature_extraction._dict_vectorizer:

fit_transform(X, y=None) method of sklearn.feature_extraction._dict_vectorizer.DictVectorizer instance
    Learn a list of feature name -> indices mappings and transform X.

    Like fit(X) followed by transform(X), but does not require
    materializing X in memory.

    Parameters
    ----------
    X : Mapping or iterable over Mappings
        Dict(s) or Mapping(s) from feature names (arbitrary Python
        objects) to feature values (strings or convertible to dtype).

        .. versionchanged:: 0.24
           Accepts multiple string values for one categorical feature.

    y : (ignored)
        Ignored parameter.

    Returns
    -------
    Xa : {array, sparse matrix}
        Feature vectors; always 2-d.

In [62]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [65]:
df["school"].unique()

array(['GP', 'MS'], dtype=object)

In [67]:
df2 = df[["school", "traveltime", "failures"]]

In [68]:
df2.head()

  school  traveltime  failures
0     GP           2         0
1     GP           1         0
2     GP           1         3
3     GP           1         0
4     GP           1         0

In [89]:
sum2(3, 4)

7

In [103]:
df2.loc[:, "GP"] = df2["school"] == "GP"

/home/dwkrghm/Public/PythonBoston/AIMLSession/.venv/lib/python3.9/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [104]:
df2.head()

  school  traveltime  failures    GP
0     GP           2         0  True
1     GP           1         0  True
2     GP           1         3  True
3     GP           1         0  True
4     GP           1         0  True

In [105]:
df2["school"] == "GP"

0       True
1       True
2       True
3       True
4       True
       ...
390    False
391    False
392    False
393    False
394    False
Name: school, Length: 395, dtype: bool

In [106]:
df2.loc[:, "MS"] = df2["school"] == "MS"

/home/dwkrghm/Public/PythonBoston/AIMLSession/.venv/lib/python3.9/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [107]:
df2.head()

  school  traveltime  failures    GP     MS
0     GP           2         0  True  False
1     GP           1         0  True  False
2     GP           1         3  True  False
3     GP           1         0  True  False
4     GP           1         0  True  False

In [112]:
df2["MS"] = df2["MS"].astype(int)

/tmp/ipykernel_6974/2289376015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["MS"] = df2["MS"].astype(int)

In [113]:
df2.head()

  school  traveltime  failures    GP  MS
0     GP           2         0  True   0
1     GP           1         0  True   0
2     GP           1         3  True   0
3     GP           1         0  True   0
4     GP           1         0  True   0

In [114]:
df2["GP"] = df2["GP"].astype(int)

/tmp/ipykernel_6974/4289884021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["GP"] = df2["GP"].astype(int)

In [115]:
df2.head()

  school  traveltime  failures  GP  MS
0     GP           2         0   1   0
1     GP           1         0   1   0
2     GP           1         3   1   0
3     GP           1         0   1   0
4     GP           1         0   1   0